:root {
    --color-1: #15203c;
    --color-2: #182443;
    --color-3: #1b294b;
    --color-4: #313e5d;
    --color-5: #48536e;
    --color-6: #767e93;
    --color-7: #babec9;
    --color-8: #e8e9ed;
    --text: #e8e9ed;
    --subtext: #767e93;
    --success: #16A34A;
    --btns: #111827;
    --pontual: #4c60b1;
}

[data-theme="light"] {
    --color-1: #a8a8af;
    --color-2: #a8a8af;
    --color-3: #bdbdc5;
    --color-4: #d2d3db;
    --color-5: #32344a;
    --color-6: #1c1e2a;
    --color-7: #484b6a;
    --color-8: #191919;
    --text: #191919;
    --subtext: #484b6a;
    --success: #16A34A;
    --btns: #9394a5;
    --pontual: #4c60b1;
}
